@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.hero-bg{
    background: #ffffff url(../images/healthy-food-background_23-2148123792.jpg);
   color: white;
   font-weight: bolder;
   padding: 15px;
   background-position: center;
  
}
.top{
    animation: fade 3s ;
}
@keyframes
    fade{
 from{
     opacity: 0;
     transform: translateY(-2em);
 }
 to{
     opacity: 1;
     transform: translateY(0);
 }
    }
body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
header a{
    color: white;
    text-decoration: none;
}
h1 span{
font-size: 1.4rem;
text-transform: uppercase;
display: block;
}
h1{
    margin: 1.5em 1em 1em 1em ;
}
.form-container{
    background-color: white;
    margin: 0 -2em;
    padding: 2em;
}
label{
    color: black;
    display: block;
}
form p{
    color: gray;
}
input[type=button] {
    background-color:#8f2323;
    color: white;
    border-radius: 0.5em;
    border: transparent;
    padding: 1.2em;
    font-size: 1.2rem;
    font-weight: bold;
}
input[type=button]:hover{
    background-color: darkred;
}
input[type=text]{
    border-radius: 0.5em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-top: 1.5em;
}
img{
    width: 100%;

}
@media(min-width:650px){
}
@media(min-width:850px){
    .form-container{
        width: 44%;
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    }
    input[type=button]{
        padding: 2px;
        margin: 1em;
    }
    input[type=button]{
        border-radius: 1em;
        width: 40%;
        padding: 5px;
        margin: 2em;
        margin-top: 1.5em;
    }
}

@media(min-width:650px){
    .authentic{
        display: flex;
        flex-direction: row-reverse;
    }
    img{
        width: 50%;
}
form{
    display: flex;
    width: 50;
}
input[type=submit]{
    width: 50%;
}
.left{
    width: 50%;
}

}
.overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}
.animate-overlay {
    animation: overlay 3s forwards;
}
@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
}